@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient-bg {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.45) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.hero .slick-dots li {
  background-color: #f8f2ec;
  border-radius: 100%;
  margin-bottom: 2.8rem;
  height: 1.3rem;
  width: 1.3rem;
}

.hero .slick-dots .slick-active {
  background-color: transparent;
  border: 2px solid #f8f2ec;
  height: 1.5rem;
  width: 1.5rem;
}

.mystery .slick-dots li {
  opacity: 0.7;
  margin-bottom: 0.5rem;
  height: 5rem;
  width: 5rem;
}

.mystery .slick-dots .slick-active {
  opacity: 1;
  height: 5rem;
  width: 5rem;
}
